/* Ensure max-width for header, footer, and grid */
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    }

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

:root {
    --primary-color: steelblue;
    --secondary-color: white;
    --border-color: black;
    --box-shadow: 0 0 30px gray;
    --default-padding: 10px;
    --image-width: 150px;
    --aside-width: 20rem;
    --aside-margin: 1rem;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --main-max-width: 840px;
    --footer-margin-top: 15px;
    --aside-bg-color: #e5e5e5;
    --aside-text-color: #000;
    }

/* Navigation styling */
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    }

/* Add bottom border to h1 */
h1 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 2px solid var(--primary-color);
    text-align: center;
    padding-bottom: 10px; 
    }

/* Grid layout for main content and sidebar */
.grid {
    display: grid;
    grid-template-columns: 20rem auto;
    align-items: center;
    gap: 1rem;
    }

#pic {
    float: right;
    margin-left: 20px;
    }
/* Styling for main content */
main {
    grid-column: 2/3;
    margin: 1rem;
   }


.box {
    background-color: var(--aside-bg-color);
    color: var(--aside-text-color);    
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    }

/* Styling for sidebar */
aside {
    /* width: var(--aside-width); */
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--aside-bg-color);
    color: var(--aside-text-color);
    padding: var(--default-padding);
    text-align: center;
    border: 1px solid rgb(0 0 0 / 0.2);


    
    width: 100%; /* Override the fixed width */
    max-width: var(--aside-width);
    
    }

/* Footer styling */
footer {
    margin-top: var(--footer-margin-top);
    border-top: 1px solid var(--border-color);
    text-align: center;
    }




